h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #3f3f3f;
}

p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

/* Inner Section */
div.inner-section {
	max-width: 1100px;
	padding: 0 25px;
	margin: 0 auto;
}

/* Header */
div.header {
	background-color: #E9E9E9;
	padding: 40px 0;
}

/* Game area */
div.game-area {
	background-color: #fff;
	padding: 50px 0;
	
}

/* Buttons */
div.buttons {
	background-color: #d4d4d4;
}

div.buttons ul {
	margin: 0;
	padding: 0;
}

div.buttons ul li {
	list-style: none;
	float: left;
	font-size: 93%;
}

div.buttons ul li a:link,
div.buttons ul li a:visited {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #000;
	border-right: 1px solid #bababa;
}

/* Footer */
div.footer {
	background-color: #3f3f3f;
	color: #FFF;
	padding: 15px 0;
	text-align: center;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }