<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Responsive Layout 1</title>
	
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="stylesheet" href="responsive.css">
</head>

<body>
	<div class="header">
		<div class="inner-section">
			<h1>Text Adventure Game Engine</h1>
		</div>
	</div>
	
	<div class="game-area">
		<div class="inner-section">
	
		<div class="scene">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales viverra eros eu tristique. Morbi cursus ligula ac neque fringilla, et malesuada ex faucibus. Maecenas egestas aliquet molestie. Nulla facilisi. Duis consequat lorem in enim molestie ultrices. Phasellus molestie eu libero egestas facilisis. Donec a libero ac nulla dictum accumsan. Integer eget orci sit amet nulla varius blandit vel sit amet magna. Sed eu nisi ac nunc pretium rutrum eget quis ligula. Pellentesque tempus lacus convallis turpis congue vulputate. Ut hendrerit posuere magna nec viverra. Nam nec consequat lectus, ac tempus justo. In nec interdum elit, quis auctor magna.</p>
		</div>
		
		<div class="you-see">
			<p>You see: R2D2</p>
		</div>
		
		<div class="go-to">
			<p>You can go: To Millennium Falcon</p>
		</div>
		
		</div>
	</div>
	
	<div class="buttons">
		<div class="inner-section">

		<ul class="clearfix">
			<li><a href="#">Go</a></li>
			<li><a href="#">Take</a></li>
			<li><a href="#">Look at</a></li>
			<li><a href="#">Use</a></li>
			<li><a href="#">Inventory</a></li>
			<li><a href="#">Help</a></li>
		</ul>
		
		</div>
	</div>
	
	<div class="footer">
		<div class="inner-section">
			<p>Developed by Hudak Studios</p>
		</div>
	</div>
</body>

</html>
