h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

body {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	/*background-color: #3f3f3f;*/
}

p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

/* Header */
div.header {

}

/* Inner Section */
div.inner-section {
	max-width: 800px;
	padding: 40px 25px;
	margin: 0 auto;
	background-color: grey;
}




