
/**************** Normalizer *******************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big,
del, dfn, em, img, ins, kbd, q, s, samp, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, canvas, video{margin:0;padding:0;border: 1px dashed red;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
label
{
  display: block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}


a:active, a:hover{text-decoration: underline;}

a:active {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 
{
  font-family: 'helvetica neue', arial, sans-seriff;
  font-weight: normal;
  margin-bottom: 0.5em;
}

h1, h2, h3 {
    margin-top: 1.2em;
}
h4, h5, h6 {
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
p,
pre {
    margin: 0.9em 0;
}
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 3.5em;
}
menu,
ol,
ul {
    padding: 0 0 0 3.5em;
}
 ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -0.8em; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
    font-family: helvetica, arial, sans-serif;
}
div,
p,
button,
select,
input {
    line-height: normal; /* 1 */
    -moz-box-sizing: border-box; /* FF */
    -webkit-box-sizing: content-box; /* Safari */
    box-sizing: border-box; /* >=IE8 & Opera */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    margin: 0;
    padding: 0.5em;
    height: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
}

th, td {
  padding: 0.5em 0.7em;
}

label {
    font-weight: 700;
    margin-bottom: 0.4em;
    font-size: 0.95em;
}
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eaeaea;
  border-color: #eaeaea -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin: 1em auto;
  text-align: center;
}

form > hr
{
  margin: 1em 0.8em;
}
/**************** End Normalizer *******************/

html
{
  height: 100%;
}

body
{
  height: 100%;
  font-family: Helvetica Neue, arial, sans-serif, helvetica;
  font-size: 1em;
  color: #0c0c0c;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul
{
  list-style-type:none;
  padding:0;margin:0;
}

ul.styled
{
  list-style-position: inside; 
  list-style-type: initial;
}

.text
{
  color: #282828;
  font-family: serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

.thin-text
{
  font-weight: 300;
}

.bold
{
  font-weight: bold;
}

.italic
{
  font-style: italic;
}

.small
{
  font-size: 0.8em;
}

.bigger
{
  font-size: 1.2em;
}

.underline
{
  text-decoration: underline;
}

th {
  color: white;
  background-color: #27CBC0;
}

tr.even
{
  background-color: #e3f7ff;
}

.white-translucent-bg{background: rgba(255,255,255,0.25);}

.translucent-hz-gradient
{
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 14%, rgba(125, 185, 232, 0) 46%); /* FF3.6-15 */
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 14%, rgba(125, 185, 232, 0) 46%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 14%, rgba(125, 185, 232, 0) 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/**** Fonts: ****/

.white { color: #ffffff;}
.red { color: #ff7570; }
.orange { color: #ffbc70; }
.yellow { color: #faff70; }
.lima { color: #b3ff70; }
.green { color: #70ff75; }
.springgreen { color: #70ffbc; }
.cyan { color: #70faff; }
.blue { color: #70b3ff; }
.indigo { color: #7570ff; }
.violet { color: #bc70ff; }
.magenta { color: #ff70fa; }
.deeppink { color: #ff70b3; }

/**** Borders ****/

.red-border { border: 2px solid #ff7570; }
.orange-border { border: 2px solid #ffbc70; }
.yellow-border { border: 2px solid #faff70; }
.lima-border { border: 2px solid #b3ff70; }
.green-border { border: 2px solid #70ff75; }
.springgreen-border { border: 2px solid #70ffbc; }
.cyan-border { border: 2px solid #70faff; }
.blue-border { border: 2px solid #70b3ff; }
.indigo-border { border: 2px solid #7570ff; }
.violet-border { border: 2px solid #bc70ff; }
.magenta-border { border: 2px solid #ff70fa; }
.deeppink-border { border: 2px solid #ff70b3; }

/**** Backgrounds: ****/

.white-bg { background-color: #ffffff; }
.grey-bg { background-color: #ababab; }
.red-bg { background-color: #ff7570; }
.orange-bg { background-color: #ffbc70; }
.yellow-bg { background-color: #faff70; }
.lima-bg { background-color: #b3ff70; }
.green-bg { background-color: #70ff75; }
.springgreen-bg { background-color: #70ffbc; }
.cyan-bg { background-color: #70faff; }
.blue-bg { background-color: #70b3ff; }
.indigo-bg { background-color: #7570ff; }
.violet-bg { background-color: #bc70ff; }
.magenta-bg { background-color: #ff70fa; }
.deeppink-bg { background-color: #ff70b3; }

.lightgrey-bg { background-color: #f2f2f2;}
.lightred-bg { background-color: #ffb0ad; }
.lightorange-bg { background-color: #ffd9ad; }
.lightyellow-bg { background-color: #fcffad; }
.lightlima-bg { background-color: #d3ffad; }
.lightgreen-bg { background-color: #adffb0; }
.lightspringgreen-bg { background-color: #adffd9; }
.lightcyan-bg { background-color: #adfcff; }
.lightblue-bg { background-color: #add3ff; }
.lightindigo-bg { background-color: #b0adff; }
.lightviolet-bg { background-color: #d9adff; }
.lightmagenta-bg { background-color: #ffadfc; }
.lightdeeppink-bg { background-color: #ffadd3; }


.no-bg-color
{
  background-color: transparent;
}

.non-opaque
{
  opacity: 0.9;
}

.border-bottom
{
  border-bottom: 1px solid #dfdfdf;
}

.thin-border
{
  border: 1px solid #dfdfdf;
}


/*** Image backgrounds settings ***/

.bg-no-repeat
{
  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
}
.bg-fixed
{
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
}

.bg-top
{
  background-position: top;
  -webkit-background-position: top;
}

.bg-bottom
{
  background-position: bottom;
  -webkit-background-position: bottom;
}

.bg-cover
{
  background-size: cover;
  -webkit-background-size: cover;
}

/*** End backgrounds ***/

.section
{
  min-height: 52vh;
  position: relative;
}

.xl-section
{
  min-height: 145vh;
  position: relative;
}

.panel
{
  background-color: #f2f2f3;
  margin-bottom: 1.4em;
  min-height: 1.4em;
  padding: 1em 1.5em;
  overflow: auto;
  -moz-box-sizing: border-box; /* FF */
  -webkit-box-sizing: content-box; /* Safari */
  box-sizing: border-box; /* >=IE8 & Opera */
}

.panel hr
{
  border-color: #e0e0e0;
}

a
{
  color:#0067b0;
  text-decoration:none;
  vertical-align:baseline;
}

input[type=text]
{
  border: 1px solid #d0d0d0;
}

form input[type=text]:hover,
form input[type=password]:hover,
form select:hover,
form textarea:hover
{
  border-color:#a8a8a8;
}

form label:hover ~ input
{
  border-color:#bbb;
}

form input[type=text]:focus,
form input[type=password]:focus,
form select:focus,
form textarea:focus
{
  outline: 0;
  border-color: #67b0f0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.077), 0 0 8px rgba(104, 177, 235, 0.7);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.077), 0 0 8px rgba(104, 177, 235, 0.7);
}

form input[type=text]:-moz-placeholder{color:#555;}
form input[type=text]::-moz-placeholder{color:#555;}
form input[type=text]::-webkit-input-placeholder{color:#8FB3AD;}
form input[type=text]:-ms-input-placeholder{color:#555;}
form input[type=file]
{
  height: 1.2em;
}

form input[type=radio], input[type=checkbox]
{
  margin: 0 0.8em 0 0;
}

label
{
  padding: 0 1em 0 0.8em;
  color: #4A4A4A;
  vertical-align: middle;
}

form li > label
{
  margin:0 0 0 0.4em;
}

select
{
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center right 3%;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 0;
  border-radius: 0; 
}

@-moz-document url-prefix() {
  select {
    background: #ffffff; }

  select:hover {
    background: #ffffff; } 
}
.form-inline
{
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.form-control, .form-inline
{
  background-color: #FFFFFF;
  border-width: 1px;
  color: #555555;
  padding: 0 0.5em;
  margin: 0.4em 0.8em;
  height: 2.1em;
  border-radius: 0;
  width: -moz-available;
  width: -webkit-fill-available;
}

.max-width
{
  width: -moz-available;
  width: -webkit-fill-available;
}

.form-horizontal
{
  display: block;
}

.btn
{
  -moz-user-select: none;
  border: 0;
  display: inline-block;
  font-size: 1em;
  padding: 0.45em 1em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  line-height: 1.15em;
  text-align: center;
  vertical-align: middle;
  /*white-space: nowrap;*/
}

.btn-default
{
  background-color: #fff;
  border: 1px solid #d2d2d2;
  color: #404040;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default 
{
  color: #333;
  background-color: #fafafa;
  border-color: #adadad;
}

.btn-primary
{
  background-color: #67bcf1;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary
{
  color: #fff;
  background-color: #68c5fd;
}

.btn-success {
    background-color: #2ECC71;
    color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success
{
  color: #fff;
  background:  #2FD574;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning
{
  color: #fff;
  background-color: #f6b74e;
}

.btn-danger {
  color: #fff;
  background-color: #FF7C6C;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger
{
  color: #fff;
  background-color: #ff8c7e;
}

.left-inset
{
  border-left: 0 none;
  margin-left: -1em;
}

.tiny-control
{
  font-size: 0.8em;
  height: 1.3em;
  padding: 0.1em 0.65em 0;
}

.small-control
{
  font-size: 0.85em;
  height: 1.9em;
}

.big-control
{
  font-size: 1.1em;
  padding: 0.5em 1.15em;
  height: 3.1em;
}

.control-group
{
  margin:0.3em auto;
  overflow: auto;
}

.rounded
{
  -moz-border-radius: 0.4em; 
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em; 
}

/************ Spacing ***************/

.top-0 {top:0;}
.top-1 {top: 2%;}
.top-2 {top: 4%;}
.top-3 {top: 6%;}
.top-4 {top: 8%;}
.top-5 {top: 10%;}
.top-6 {top: 12%;}
.top-7 {top: 14%;}
.top-8 {top: 16%;}
.top-9 {top: 18%;}
.top-10 {top: 20%;}
.top-11 {top: 22%;}
.top-12 {top: 24%;}
.top-13 {top: 26%;}
.top-14 {top: 28%;}
.top-15 {top: 30%;}
.top-16 {top: 32%;}
.top-17 {top: 34%;}
.top-18 {top: 36%;}
.top-19 {top: 38%;}
.top-20 {top: 40%;}

.bottom-0
{
  bottom: 0;
}

.container
{
    margin: 2em auto 1em;
    overflow: auto;
}

.big-container
{
  margin: 7em auto 1em;
  overflow: auto;
}

.row
{
  padding: 1em 0;
  overflow: auto;
  width: 100%;
}

.empty-row
{
  height: 2em;
  display: block;
  overflow: auto;
  padding: 1em 0;
  width: 100%;
}

ul.inline > li
{
  display: inline;
  margin-right: 0.5em;
}

ul.inline-block > li
{
  display: inline-block;
  white-space: nowrap;
}

ul.inline-block > li.hidden
{
  display: none;
}

ul.inline-table > li
{
  display: inline-table;
}

ul.table-cell > li
{
  display: table-cell;
}

.xm-padding
{
  padding: 0.3em;
}
.sm-padding
{
  padding: 0.6em;
}
.md-padding
{
  padding: 1em;
}

.lg-padding
{
  padding: 1.5em;
}

.xl-padding
{
  padding:3em;
}
.no-padding
{
  padding: 0;
}

.no-left-padding
{
  padding-left: 0;
}

.no-right-padding
{
  padding-right: 0;
}

.no-top-padding
{
  padding-top:0;
}

.no-bottom-padding
{
  padding-bottom: 0;
}

.no-lt-padding
{
  padding-left: 0;
  padding-right: 0;
}

.no-vt-padding
{
  padding-top: 0;
  padding-bottom: 0;
}


.xm-lt-padding
{
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.xm-vt-padding
{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.sm-lt-padding
{
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.sm-vt-padding
{
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.md-lt-padding
{
  padding-left: 1em;
  padding-right: 1em;
}

.md-vt-padding
{
  padding-top: 1em;
  padding-bottom: 1em;
}

.lg-lt-padding
{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.lg-vt-padding
{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.xl-lt-padding
{
  padding-left: 3em;
  padding-right: 3em;
}

.xl-vt-padding
{
  padding-top: 3em;
  padding-bottom: 3em;
}

.no-margin
{
  margin: 0;
}

.xm-margin
{
  margin: 0.3em;
}

.sm-margin
{
  margin: 0.6em;
}

.md-margin
{
  margin: 1em;
}

.lg-margin
{
  margin: 1.5em;
}

.xl-margin
{
  margin:3em;
}

.no-left-margin
{
  margin-left: 0;
}

.no-right-margin
{
  margin-right: 0;
}

.no-top-margin
{
  margin-top:0;
}

.no-bottom-margin
{
  margin-bottom: 0;
}

.no-lt-margin
{
  margin-left: 0;
  margin-right: 0;
}

.no-vt-margin
{
  margin-top: 0;
  margin-bottom: 0;
}

.xm-lt-margin
{
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.xm-vt-margin
{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.sm-lt-margin
{
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.sm-vt-margin
{
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.md-lt-margin
{
  margin-left: 1em;
  margin-right: 1em;
}

.md-vt-margin
{
  margin-top: 1em;
  margin-bottom: 1em;
}

.lg-lt-margin
{
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.lg-vt-margin
{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.xl-lt-margin
{
  margin-left: 3em;
  margin-right: 3em;
}

.xl-vt-margin
{
  margin-top: 3em;
  margin-bottom: 3em;
}
.middleset{
    padding: 4em 0 4em;
}

.row, .middleset
{
    display: table;
}

.vertically-centered
{
  align-items: center;
  bottom: 0;
  display: flex;
}

.max-height
{
  height: 100%;
}

.margin-1-left { margin-left: 4.16%; }
.margin-2-left { margin-left: 8.33%; }
.margin-3-left { margin-left: 12.5%; }
.margin-4-left { margin-left: 16.66%; }
.margin-5-left { margin-left: 20.83%; }
.margin-6-left { margin-left: 25%; }
.margin-7-left { margin-left: 29.16%; }
.margin-8-left { margin-left: 33.33%; }

.margin-1-right { margin-right: 4.16%; }
.margin-2-right { margin-right: 8.33%; }
.margin-3-right { margin-right: 12.5%; }
.margin-4-right { margin-right: 16.66%; }
.margin-5-right { margin-right: 20.83%; }
.margin-6-right { margin-right: 25%; }
.margin-7-right { margin-right: 29.16%; }
.margin-8-right { margin-right: 33.33%; }

.margin-1-top { margin-top: 4.16%; }
.margin-2-top { margin-top: 8.33%; }
.margin-3-top { margin-top: 12.5%; }
.margin-4-top { margin-top: 16.66%; }
.margin-5-top { margin-top: 20.83%; }
.margin-6-top { margin-top: 25%; }
.margin-7-top { margin-top: 29.16%; }
.margin-8-top { margin-top: 33.33%; }

/******************* Grid *******************/

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24 
{
  float: left;
  display: block;
}

/********* For Desktop *********/
@media screen and (min-width: 1024px){

  .col-1 { width: 4.16%; }
  .col-2 { width: 8.33%; }
  .col-3 { width: 12.5%; }
  .col-4 { width: 16.65%; }
  .col-5 { width: 20.83%; }
  .col-6 { width: 25%; }
  .col-7 { width: 29.16%; }
  .col-8 { width: 33.33%; }
  .col-9 { width: 37.5%; }
  .col-10 { width: 41.66%; }
  .col-11 { width: 45.83%; }
  .col-12 { width: 50%; }
  .col-13 { width: 54.16%; }
  .col-14 { width: 58.33%; }
  .col-15 { width: 62.5%; }
  .col-16 { width: 66.59%; }
  .col-17 { width: 70.83%; }
  .col-18 { width: 75%; }
  .col-19 { width: 79.16%; }
  .col-20 { width: 83.33%; }
  .col-21 { width: 87.5%; }
  .col-22 { width: 91.66%; }
  .col-23 { width: 95.83%; }
  .col-24 { width: 100%; }

  .only-small-screen
  {
    display: none;
  }

  .desktop-center
  {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
    left:0;
    right: 0;
  }

  .only-tablet
  {
    display: none;
  }

  .only-mobile
  {
    display: none;
  }

  .desktop-hidden
  {
    display: none;
  }
}
/************ End desktop *************/

/************ Large screen ************/

@media screen and (min-width: 1440px){

  .col-lg-1 { width: 4.16%; }
  .col-lg-2 { width: 8.33%; }
  .col-lg-3 { width: 12.5%; }
  .col-lg-4 { width: 16.65%; }
  .col-lg-5 { width: 20.83%; }
  .col-lg-6 { width: 25%; }
  .col-lg-7 { width: 29.16%; }
  .col-lg-8 { width: 33.33%; }
  .col-lg-9 { width: 37.5%; }
  .col-lg-10 { width: 41.66%; }
  .col-lg-11 { width: 45.83%; }
  .col-lg-12 { width: 50%; }
  .col-lg-13 { width: 54.16%; }
  .col-lg-14 { width: 58.33%; }
  .col-lg-15 { width: 62.5%; }
  .col-lg-16 { width: 66.59%; }
  .col-lg-17 { width: 70.83%; }
  .col-lg-18 { width: 75%; }
  .col-lg-19 { width: 79.16%; }
  .col-lg-20 { width: 83.33%; }
  .col-lg-21 { width: 87.5%; }
  .col-lg-22 { width: 91.66%; }
  .col-lg-23 { width: 95.83%; }
  .col-lg-24 { width: 100%; }
}

/************ End Large Screen ***********/

/************ Tablet and Mobile **********/

@media screen and (max-width: 1023px){

  .only-desktop
  {
    display: none;
  }

  .only-tablet 
  {
    display: block;
  }

  .only-mobile
  {
    display: block;
  }

  .only-small-screen
  {
    display: none;
  }

  .col-1, .col-2, .col-3, .col-4, 
  .col-5, .col-6, .col-7, .col-8, 
  .col-9, .col-10, .col-11, .col-12,
  .col-13, .col-14, .col-15, .col-16, 
  .col-17, .col-18, .col-19, .col-20, 
  .col-21, .col-22, .col-23, .col-24 {
    width: 100%;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 { width: 4.16%; }
  .col-sm-2 { width: 8.33%; }
  .col-sm-3 { width: 12.5%; }
  .col-sm-4 { width: 16.66%; }
  .col-sm-5 { width: 20.83%; }
  .col-sm-6 { width: 25%; }
  .col-sm-7 { width: 29.16%; }
  .col-sm-8 { width: 33.33%; }
  .col-sm-9 { width: 37.5%; }
  .col-sm-10 { width: 41.66%; }
  .col-sm-11 { width: 45.83%; }
  .col-sm-12 { width: 50%; }
  .col-sm-13 { width: 54.16%; }
  .col-sm-14 { width: 58.33%; }
  .col-sm-15 { width: 62.5%; }
  .col-sm-16 { width: 66.66%; }
  .col-sm-17 { width: 70.83%; }
  .col-sm-18 { width: 75%; }
  .col-sm-19 { width: 79.16%; }
  .col-sm-20 { width: 83.33%; }
  .col-sm-21 { width: 87.5%; }
  .col-sm-22 { width: 91.66%; }
  .col-sm-23 { width: 95.83%; }
  .col-sm-24 { width: 100%; }


  input[type=text], input[type=submit]select, button
  {
    width: 100%;
  }

  .container, .row
  {
    display: block;
  }

  .sm-pull-left
  {
    left: 0;
    float: left;
  }

  .sm-pull-right
  {
    right: 0;
    float: right;
  }


  .form-control, .form-inline
  {
    margin: 0.4em 0;
  }

  .control-group
  {
    /*float: none;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0 1em;
  }

  .sm-no-padding
  {
    padding: 0;
  }

  .btn
  {
    margin-left: 0;
  }

  label
  {
    margin: 0.4em 0.7em 0 0;
    padding: 0;
  }

  .panel
  {
    padding: 0.5em;
  }

  .sm-center
  {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 0;
  }

  .tablet-and-mobile-hidden
  {
    display: hidden;
  }

  .vertically-centered
  {
    left: 0;
    right: 0;
  }

  .sm-no-background
  {
    background: none;
  }
}
/****** End Tablet and Mobile ******/

/* To avoid Safari autozoom in forms on iPad and iPhone: */
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1023px){ 
  .dialog-box select:focus,
  .dialog-box textarea:focus,
  .dialog-box input:focus {
    font-size: 15px;
  }
}

/******* Small mobile screen *******/
@media screen and (max-width: 640px){

  .only-desktop-and-tablet
  {
    display: none;
  }

  .only-tablet
  {
    display: none;
  }

  .xm-hidden
  {
    display: none;
  }

  .only-small-screen
  {
    display: block;
  }
  
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
  .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, 
  .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, 
  .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24 {
    width: 100%;
  }

  .col-xm-1 { width: 4.16%; }
  .col-xm-2 { width: 8.33%; }
  .col-xm-3 { width: 12.5%; }
  .col-xm-4 { width: 16.66%; }
  .col-xm-5 { width: 20.83%; }
  .col-xm-6 { width: 25%; }
  .col-xm-7 { width: 29.16%; }
  .col-xm-8 { width: 33.33%; }
  .col-xm-9 { width: 37.5%; }
  .col-xm-10 { width: 41.66%; }
  .col-xm-11 { width: 45.83%; }
  .col-xm-12 { width: 50%; }
  .col-xm-13 { width: 54.16%; }
  .col-xm-14 { width: 58.33%; }
  .col-xm-15 { width: 62.5%; }
  .col-xm-16 { width: 66.66%; }
  .col-xm-17 { width: 70.83%; }
  .col-xm-18 { width: 75%; }
  .col-xm-19 { width: 79.16%; }
  .col-xm-20 { width: 83.33%; }
  .col-xm-21 { width: 87.5%; }
  .col-xm-22 { width: 91.66%; }
  .col-xm-23 { width: 95.83%; }
  .col-xm-24 { width: 100%; }

  .container{ margin-top: 3em;}

  .section { min-height: 300px;}

  .xm-padding
  {
    padding: 0.1em;
  }
  .sm-padding
  {
    padding: 0.3em;
  }
  .md-padding
  {
    padding: 0.6em;
  }

  .lg-padding
  {
    padding: 1em;
  }

  .xl-padding
  {
    padding: 1.5em;
  }  

  .xm-padding
  {
    padding: 0.1em;
  }
  .sm-padding
  {
    padding: 0.3em;
  }
  .md-padding
  {
    padding: 0.6em;
  }

  .lg-padding
  {
    padding: 1em;
  }

  .xl-padding
  {
    padding: 1.5em;
  }

  .footer
  {
    padding: 1.2em 0 0.8em;
  }
  .xm-no-background
  {
    background-image: none !important;
    -webkit-background-image: none !important;
  }

  .xm-white-bg
  {
    background: #ffffff;
  }
}
/**** End Small mobile screen *****/


div.dark-background
{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:black;
  opacity:0.2;
  display:none;
  z-index:70;
}

/* Pop up dialogs: */

.dialog-box
{
    left:0;
    right: 0;
    margin: 0 auto;
    background-color:#fff;
    position:fixed;
    z-index:80;
}

.dialog-box-title
{
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  float: none;
  left: 0;
  margin: 0;
  padding-bottom: 0.8em;
  padding-top: 2.8em;
  position: fixed;
  right: 0;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 120;
}

.dialog-box-title-text
{
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog-box-content
{
  background: white none repeat scroll 0 0;
  padding-top: 7em;
  height: 55%;
  overflow: scroll;
  -webkit-overflow-scrolling:touch;
  position: fixed;
  z-index: 100;
}

a.close{color:#CBCBCB;padding: 0.7em 0.7em; margin: 0.5em; font-size:1em;font-weight:bold;text-decoration:none;position:absolute;right:0;top:0em; z-index:120;}
a.close:hover{color:#fff; background-color: #f88;}


.left
{
  left:0;
}

.right
{
  right:0;
}

.pull-left
{
  float: left;
}

.pull-right
{
  float: right;
}

.text-center
{
  text-align: center;
}

.text-right
{
  text-align: right;
}

.sub
{
  vertical-align: sub;
}

.center
{
  margin-left: auto;
  margin-right: auto;
  float: none;
  left:0;
  right: 0;
}

.relative
{
  position: relative;
}

.absolute
{
  position: absolute;
}

.fixed
{
  position: fixed;
}

.sticky
{
  position: sticky;
  position: -webkit-sticky;
}

.no-float
{
  float: none;
}

.z-index-top
{
  z-index: 100;
}

.z-index-mid
{
  z-index: 50;
}

.z-index-back
{
  z-index: -1;
}

.footer
{
  bottom: 0;
  padding-bottom: 0.3em;
  left: 0;
}

.block
{
  display: block;
}

.inline
{
  display: inline;
}

.inline-block
{
  display: inline-block;
}

.table-cell
{
  display: table-cell;
}

.flex
{
  display: flex;
  display: -webkit-flex;
  display: -webkit-flexbox;
  display: -ms-flexbox;
}

.overflow-hidden
{
  overflow: hidden;
}

.hidden
{
  display: none;
}

/**************************** End layout *******************************/


.share-btn
{
  float: right;
}

.vertical-share
{
  left:auto;
  float:right;
  position:absolute;
  right:0;
  top:25%;
  z-index:100020;
  background:0;
  width:3em;
}

.vertical-icon-wrapper
{
  width: 2em;
}

.icon-wrapper
{
  overflow: hidden;
  cursor: pointer;
  display: block;
  padding: 0.4em 0.7em;
  fill: #fff;
  -webkit-transition: padding 0.1; /* Safari */
  transition: padding 0.1s;
}

li.social-big
{
  display: inline;
  border: 3px solid white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.social-big-svg
{
  height: 2em;
  width: 2em;
  text-align: center;

}

.social-small-svg
{
  height: 1.5em;
  text-align: center;
  width: 1.8em;
}

li.social-small
{
  display: inline-block; 
  vertical-align: middle;
}
.facebook
{
  background-color: rgb(59, 89, 152);
}

.twitter
{
  background-color: rgb(85, 172, 238);
}

.share-icon:hover
{
  padding-right: 1.5em;
}

/**** Animations ****/

.drop
{
  opacity: 0;
  animation: showDrop 1s ease-out forwards;
  -webkit-animation: showDrop 1s ease-out forwards;
}

@keyframes showDrop
{
  from{ opacity: 0; transform: translate3d(0,-1.5em,0);}
  to{ opacity: 1; transform: translate3d(0,0,0);}
}

@-webkit-keyframes showDrop
{
  from{ opacity: 0; -webkit-transform: translate3d(0,-1.5em,0);}
  to{ opacity: 1; -webkit-transform: translate3d(0,0,0);}
}

/**** Parallax ****/

html.parallax {
  /*height: 100%;*/
  overflow: auto;
}

body.parallax
{
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
}

.parallax-section
{
    position: relative;
    padding: 25vh 10%;
    min-height: 70vh;
    width: 100vw;
    box-sizing: border-box;
    transform-style: inherit;
    background-attachment: fixed;
    background: 50% 50% / cover;  
    transform: translateY(43px) translateZ(-0.4px) scale(1.75);
}

.parallax-section:before {
  background: 50% 50% / cover;  
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

.parallax-section, .parallax-section:before {
  background: 50% 50% / cover;  
}

.parallax-content
{
  transform: translateZ(0.5px) scale(0.5);
}

